<div>
  <form (ngSubmit)="onSubmit()" #form2>
    <div class="form-gorup">
      <label for="firstname">What is your first name?</label>
      <input type="text" class="form-control" id="firstname" required [(ngModel)]="model.firstname" [ngModelOptions]="{ updateOn: 'change' }">
      <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
        First name is required.
      </div>
    </div>
    <div class="form-gorup">
      <label for="lastname">What is your last name?</label>
      <input type="text" class="form-control" id="lastname" required [(ngModel)]="model.lastname" [ngModelOptions]="{ updateOn: 'change' }">
      <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
        Last name is required.
      </div>
    </div>
    <button type="submit" class="btn btn-success">
      Submit
    </button>
  </form>
  <div *ngIf="model.firstname && model.lastname">
    <h3>
      Hello {{ model.firstname }} {{ model.lastname }}
    </h3>
  </div>
</div>
